In [114]:
import csv
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from datetime import datetime, time, timedelta
import pytz

In [2]:
def get_missmatch_units(unit_map, unit_profile):
    unit_map = unit_map[unit_map["validation_type"] == "fcc"]
    unit_profile.rename(columns={"Unit ID": "unit_id", "ISP": "profile_isp", "Technology": "profile_tech"},inplace=True)
    merged_df = pd.merge(unit_map, unit_profile, how="left", on="unit_id")
    merged_df.drop(merged_df[(merged_df.operator_name == merged_df.profile_isp) & (merged_df.operator_technology == merged_df.profile_tech) ].index, inplace=True, axis=0)
    return merged_df

## Sept'21

In [4]:
unit_map = pd.read_csv("../202109/unit_id_mapping.csv")
unit_profile = pd.read_csv("../unit_profile_files/unit-profile-sept2021.csv")
merged_df = get_missmatch_units(unit_map, unit_profile)
print(merged_df.to_markdown(tablefmt="grid", floatfmt=""))

+------+-----------+-----------------+-----------------------+------------------+----------------+-------------------+-----------------+----------------+---------+----------+-------------------+-----------------------+------------+----------+------------------+
|      |   unit_id | operator_name   | operator_technology   |   download_speed |   upload_speed | validation_type   | profile_isp     | profile_tech   | State   | Census   |   timezone_offset |   timezone_offset_dst |   Download |   Upload | Whitebox Model   |
+======+===========+=================+=======================+==================+================+===================+=================+================+=========+==========+===================+=======================+============+==========+==================+
|   52 |    566338 | Comcast         | Cable                 |            400.0 |           20.0 | fcc               | Charter         | Cable          | CA      | West     |                -6 |                    -5 |      400.0 |     20.0 | wdr3600          |
+------+-----------+-----------------+-----------------------+------------------+----------------+-------------------+-----------------+----------------+---------+----------+-------------------+-----------------------+------------+----------+------------------+
|  700 |  38658725 | CenturyLink     | Fiber                 |           1000.0 |           50.0 | fcc               | Mediacom        | Cable          | IL      | Midwest  |                -6 |                    -5 |     1000.0 |     50.0 | skwb8            |
+------+-----------+-----------------+-----------------------+------------------+----------------+-------------------+-----------------+----------------+---------+----------+-------------------+-----------------------+------------+----------+------------------+
|  793 |  39536053 | CenturyLink     | Fiber                 |           1000.0 |         1000.0 | fcc               | AT&T            | Fiber          | NV      | West     |                -8 |                    -7 |     1000.0 |   1000.0 | skwb8            |
+------+-----------+-----------------+-----------------------+------------------+----------------+-------------------+-----------------+----------------+---------+----------+-------------------+-----------------------+------------+----------+------------------+
|  984 |  24734545 | Charter         | Cable                 |           1000.0 |         1000.0 | fcc               | Frontier        | Fiber          | TX      | South    |                -6 |                    -5 |     1000.0 |   1000.0 | skwb8            |
+------+-----------+-----------------+-----------------------+------------------+----------------+-------------------+-----------------+----------------+---------+----------+-------------------+-----------------------+------------+----------+------------------+
|  987 |  24806665 | Charter         | Cable                 |            500.0 |          500.0 | fcc               | Frontier        | Fiber          | FL      | South    |                -5 |                    -4 |      500.0 |    500.0 | skwb8            |
+------+-----------+-----------------+-----------------------+------------------+----------------+-------------------+-----------------+----------------+---------+----------+-------------------+-----------------------+------------+----------+------------------+
|  998 |  25658049 | Charter         | Cable                 |            500.0 |          125.0 | fcc               | Cincinnati Bell | Fiber          | KY      | South    |                -5 |                    -4 |      500.0 |    125.0 | skwb8            |
+------+-----------+-----------------+-----------------------+------------------+----------------+-------------------+-----------------+----------------+---------+----------+-------------------+-----------------------+------------+----------+------------------+
| 1211 |   1000167 | Frontier        | Fiber                 |            400.0 |           20.0 | fcc               | Charter         | Cable          | CA      | West     |                -8 |                    -7 |      400.0 |     20.0 | skwb8            |
+------+-----------+-----------------+-----------------------+------------------+----------------+-------------------+-----------------+----------------+---------+----------+-------------------+-----------------------+------------+----------+------------------+
| 1441 |  25754801 | Frontier        | Fiber                 |             50.0 |            5.0 | fcc               | Comcast         | Cable          | WA      | West     |                -8 |                    -7 |       50.0 |      5.0 | skwb8            |
+------+-----------+-----------------+-----------------------+------------------+----------------+-------------------+-----------------+----------------+---------+----------+-------------------+-----------------------+------------+----------+------------------+
| 1885 |   1006204 | Verizon         | Fiber                 |           1200.0 |           35.0 | fcc               | Comcast         | Cable          | MD      | South    |                -5 |                    -4 |     1200.0 |     35.0 | skwb8            |
+------+-----------+-----------------+-----------------------+------------------+----------------+-------------------+-----------------+----------------+---------+----------+-------------------+-----------------------+------------+----------+------------------+
| 1887 |   1006726 | Verizon         | Fiber                 |           1000.0 |         1000.0 | fcc               | Frontier        | Fiber          | TX      | South    |                -6 |                    -5 |     1000.0 |   1000.0 | skwb8            |
+------+-----------+-----------------+-----------------------+------------------+----------------+-------------------+-----------------+----------------+---------+----------+-------------------+-----------------------+------------+----------+------------------+

In [5]:
curr_udplatency = pd.read_csv("../202109/curr_udplatency.csv")

print(566338 , curr_udplatency[curr_udplatency["unit_id"] == 566338].target.unique() )
print(38658725 , curr_udplatency[curr_udplatency["unit_id"] == 38658725].target.unique() )
print(39536053 , curr_udplatency[curr_udplatency["unit_id"] == 39536053].target.unique() )
print(24734545 , curr_udplatency[curr_udplatency["unit_id"] == 24734545].target.unique() )
print(24806665 , curr_udplatency[curr_udplatency["unit_id"] == 24806665].target.unique() )
print(25658049 , curr_udplatency[curr_udplatency["unit_id"] == 25658049].target.unique() )
print(1000167 , curr_udplatency[curr_udplatency["unit_id"] == 1000167].target.unique() )
print(25754801 , curr_udplatency[curr_udplatency["unit_id"] == 25754801].target.unique() )
print(1006204 , curr_udplatency[curr_udplatency["unit_id"] == 1006204].target.unique() )
print(1006726 , curr_udplatency[curr_udplatency["unit_id"] == 1006726].target.unique() )

566338 ['05-on-regional-houston.samknows.comcast.net'
 'sp1-vm-dallas-us.samknows.com']
38658725 ['sp2-vm-chicago-us.samknows.com' '1-winterparkfl-on.centurylink.net'
 'sp1-vm-chicago-us.samknows.com' 'samknows1.chi2.level3.net']
39536053 ['sp1-vm-atlanta-us.samknows.com' '1-winterparkfl-on.centurylink.net'
 'sp1-vm-miami-us.samknows.com' 'sp1-vm-dallas-us.samknows.com']
24734545 ['sp1-vm-dallas-us.samknows.com' 't1.st.dfw10.tbone.rr.com'
 'f1.st.dfw10.tbone.rr.com']
24806665 ['t1.st.atl20.tbone.rr.com' 'sp1-vm-miami-us.samknows.com'
 'fcc01spbgsc.spbg.sc.charter.com' 'f1.st.atl20.tbone.rr.com'
 'samknows1.chi2.level3.net']
25658049 ['t1.st.chi10.tbone.rr.com' 'sp2-vm-chicago-us.samknows.com'
 'sp1-vm-chicago-us.samknows.com' 'f1.st.chi10.tbone.rr.com'
 'sp1-vm-ashburn-us.samknows.com' 'sp1-vm-atlanta-us.samknows.com'
 'samknows1.chi2.level3.net']
1000167 ['samk01.plal.ca.frontiernet.net' 'sp1-vm-losangeles-us.samknows.com'
 'samknows1.lax1.level3.net']
25754801 ['samk01.plal.ca.frontiernet.net' 'sp1-vm-seattle-us.samknows.com'
 'samknows1.sjo3.level3.net' 'samk01.chcg.il.frontiernet.net']
1006204 ['sp2-vm-ashburn-us.samknows.com' 'restonfcc.west.verizon.net'
 'sp1-vm-ashburn-us.samknows.com' 'samknows1.wdc12.level3.net']
1006726 ['restonfcc.west.verizon.net' 'sp1-vm-dallas-us.samknows.com'
 'samknows1.dal1.level3.net']

In [14]:
cincinnati_units_in_profile = unit_profile[unit_profile["profile_isp"] == "Cincinnati Bell"].unit_id.tolist()
cincinnati_units_in_mapped = unit_map[unit_map["operator_name"] == "Cincinnati Bell"].unit_id.tolist()

In [15]:
print (len(cincinnati_units_in_profile), len(cincinnati_units_in_mapped))

320 345

## Oct'21

In [11]:
unit_map = pd.read_csv("../202110/unit_id_mapping.csv")
unit_profile = pd.read_csv("../unit_profile_files/unit-profile-sept2021.csv")
merged_df = get_missmatch_units(unit_map, unit_profile)
print(merged_df.to_markdown(tablefmt="grid", floatfmt=""))

+------+-----------+-----------------+-----------------------+------------------+----------------+-------------------+-----------------+----------------+---------+----------+-------------------+-----------------------+------------+----------+------------------+
|      |   unit_id | operator_name   | operator_technology   |   download_speed |   upload_speed | validation_type   | profile_isp     | profile_tech   | State   | Census   |   timezone_offset |   timezone_offset_dst |   Download |   Upload | Whitebox Model   |
+======+===========+=================+=======================+==================+================+===================+=================+================+=========+==========+===================+=======================+============+==========+==================+
|   51 |    566338 | Comcast         | Cable                 |            400.0 |           20.0 | fcc               | Charter         | Cable          | CA      | West     |                -6 |                    -5 |      400.0 |     20.0 | wdr3600          |
+------+-----------+-----------------+-----------------------+------------------+----------------+-------------------+-----------------+----------------+---------+----------+-------------------+-----------------------+------------+----------+------------------+
|  689 |  38658725 | CenturyLink     | Fiber                 |           1000.0 |           50.0 | fcc               | Mediacom        | Cable          | IL      | Midwest  |                -6 |                    -5 |     1000.0 |     50.0 | skwb8            |
+------+-----------+-----------------+-----------------------+------------------+----------------+-------------------+-----------------+----------------+---------+----------+-------------------+-----------------------+------------+----------+------------------+
|  896 |  24734545 | Charter         | Cable                 |           1000.0 |         1000.0 | fcc               | Frontier        | Fiber          | TX      | South    |                -6 |                    -5 |     1000.0 |   1000.0 | skwb8            |
+------+-----------+-----------------+-----------------------+------------------+----------------+-------------------+-----------------+----------------+---------+----------+-------------------+-----------------------+------------+----------+------------------+
|  898 |  24806665 | Charter         | Cable                 |            500.0 |          500.0 | fcc               | Frontier        | Fiber          | FL      | South    |                -5 |                    -4 |      500.0 |    500.0 | skwb8            |
+------+-----------+-----------------+-----------------------+------------------+----------------+-------------------+-----------------+----------------+---------+----------+-------------------+-----------------------+------------+----------+------------------+
|  909 |  25658049 | Charter         | Cable                 |            500.0 |          125.0 | fcc               | Cincinnati Bell | Fiber          | KY      | South    |                -5 |                    -4 |      500.0 |    125.0 | skwb8            |
+------+-----------+-----------------+-----------------------+------------------+----------------+-------------------+-----------------+----------------+---------+----------+-------------------+-----------------------+------------+----------+------------------+
| 1117 |   1000167 | Frontier        | Fiber                 |            400.0 |           20.0 | fcc               | Charter         | Cable          | CA      | West     |                -8 |                    -7 |      400.0 |     20.0 | skwb8            |
+------+-----------+-----------------+-----------------------+------------------+----------------+-------------------+-----------------+----------------+---------+----------+-------------------+-----------------------+------------+----------+------------------+
| 1345 |  25754801 | Frontier        | Fiber                 |             50.0 |            5.0 | fcc               | Comcast         | Cable          | WA      | West     |                -8 |                    -7 |       50.0 |      5.0 | skwb8            |
+------+-----------+-----------------+-----------------------+------------------+----------------+-------------------+-----------------+----------------+---------+----------+-------------------+-----------------------+------------+----------+------------------+
| 1777 |   1006204 | Verizon         | Fiber                 |           1200.0 |           35.0 | fcc               | Comcast         | Cable          | MD      | South    |                -5 |                    -4 |     1200.0 |     35.0 | skwb8            |
+------+-----------+-----------------+-----------------------+------------------+----------------+-------------------+-----------------+----------------+---------+----------+-------------------+-----------------------+------------+----------+------------------+
| 1779 |   1006726 | Verizon         | Fiber                 |           1000.0 |         1000.0 | fcc               | Frontier        | Fiber          | TX      | South    |                -6 |                    -5 |     1000.0 |   1000.0 | skwb8            |
+------+-----------+-----------------+-----------------------+------------------+----------------+-------------------+-----------------+----------------+---------+----------+-------------------+-----------------------+------------+----------+------------------+
| 1993 |  39536053 | CenturyLink     | Fiber                 |           1000.0 |         1000.0 | fcc               | AT&T            | Fiber          | NV      | West     |                -8 |                    -7 |     1000.0 |   1000.0 | skwb8            |
+------+-----------+-----------------+-----------------------+------------------+----------------+-------------------+-----------------+----------------+---------+----------+-------------------+-----------------------+------------+----------+------------------+

In [12]:
curr_udplatency = pd.read_csv("../202110/curr_udplatency.csv")

print(566338 , curr_udplatency[curr_udplatency["unit_id"] == 566338].target.unique() )
print(38658725 , curr_udplatency[curr_udplatency["unit_id"] == 38658725].target.unique() )
print(39536053 , curr_udplatency[curr_udplatency["unit_id"] == 39536053].target.unique() )
print(24734545 , curr_udplatency[curr_udplatency["unit_id"] == 24734545].target.unique() )
print(24806665 , curr_udplatency[curr_udplatency["unit_id"] == 24806665].target.unique() )
print(25658049 , curr_udplatency[curr_udplatency["unit_id"] == 25658049].target.unique() )
print(1000167 , curr_udplatency[curr_udplatency["unit_id"] == 1000167].target.unique() )
print(25754801 , curr_udplatency[curr_udplatency["unit_id"] == 25754801].target.unique() )
print(1006204 , curr_udplatency[curr_udplatency["unit_id"] == 1006204].target.unique() )
print(1006726 , curr_udplatency[curr_udplatency["unit_id"] == 1006726].target.unique() )

566338 ['sp1-vm-dallas-us.samknows.com'
 '05-on-regional-houston.samknows.comcast.net' 'samknows1.chi2.level3.net'
 '17-on-regional-northnj.samknows.comcast.net']
38658725 ['1-winterparkfl-on.centurylink.net' 'sp2-vm-chicago-us.samknows.com'
 'sp1-vm-chicago-us.samknows.com']
39536053 ['1-winterparkfl-on.centurylink.net' 'sp1-vm-atlanta-us.samknows.com']
24734545 ['sp1-vm-dallas-us.samknows.com' 'f1.st.dfw10.tbone.rr.com'
 't1.st.dfw10.tbone.rr.com']
24806665 ['t1.st.atl20.tbone.rr.com' 'sp1-vm-miami-us.samknows.com']
25658049 ['sp1-vm-chicago-us.samknows.com' 'f1.st.chi10.tbone.rr.com'
 'sp1-vm-newyork-us.samknows.com' 'samknows1.chi2.level3.net'
 't1.st.chi10.tbone.rr.com' 'sp2-vm-chicago-us.samknows.com'
 'sp1-vm-atlanta-us.samknows.com' 'sp1-vm-ashburn-us.samknows.com']
1000167 ['sp1-vm-losangeles-us.samknows.com' 'samk01.plal.ca.frontiernet.net'
 'samknows1.lax1.level3.net']
25754801 ['sp1-vm-seattle-us.samknows.com' 'samk01.plal.ca.frontiernet.net'
 'samknows1.sjo1.level3.net' 'samk01.chcg.il.frontiernet.net']
1006204 ['sp1-vm-ashburn-us.samknows.com' 'restonfcc.west.verizon.net'
 'sp2-vm-ashburn-us.samknows.com' 'sp1-vm-newyork-us.samknows.com']
1006726 ['samknows1.dal1.level3.net' 'restonfcc.west.verizon.net'
 'samknows1.chi2.level3.net' 'sp1-vm-dallas-us.samknows.com']

In [143]:
def localize_date(dtime, offset):
    pst = pytz.timezone("UTC")
    if offset == -5:
        pst = pytz.timezone("US/Eastern")
    elif offset == -6:
        pst = pytz.timezone("US/Central")
    elif offset == -7:
        pst = pytz.timezone("US/Mountain")
    elif offset == -8:
        pst = pytz.timezone("US/Pacific")
    elif offset == -9:
        pst = pytz.timezone("US/Alaska")
    elif offset == -10:
        pst = pytz.timezone("US/Hawaii")

    dtObj = datetime.strptime(dtime, "%Y-%m-%d %H:%M:%S")
    dtObj += timedelta(hours=int(offset))
    dtcOffset = pst.localize(dtObj).dst()
    dtObj += dtcOffset

    return dtObj.strftime("%Y-%m-%d %H:%M:%S"), pst.localize(datetime.strptime(dtime, "%Y-%m-%d %H:%M:%S")).strftime("%Y-%m-%d %H:%M:%S")

In [ ]:
def get_timezone(offset):
    pst = pytz.timezone("UTC")
    if offset == -5:
        pst = pytz.timezone("US/Eastern")
    elif offset == -6:
        pst = pytz.timezone("US/Central")
    elif offset == -7:
        pst = pytz.timezone("US/Mountain")
    elif offset == -8:
        pst = pytz.timezone("US/Pacific")
    elif offset == -9:
        pst = pytz.timezone("US/Alaska")
    elif offset == -10:
        pst = pytz.timezone("US/Hawaii")
    return pst

In [206]:
def is_dst(dt):
    if dt.year < 2007:
        raise ValueError()
    dst_start = datetime(dt.year, 3, 8, 2, 0)
    dst_start += timedelta(6 - dst_start.weekday())
    dst_end = datetime(dt.year, 11, 1, 2, 0)
    dst_end += timedelta(6 - dst_end.weekday())
    return dst_start <= dt < dst_end


def localize_date(dtime, offset, offset_dst):
    # pst = pytz.timezone("UTC")
    # if offset == -5:
    #     pst = pytz.timezone("US/Eastern")
    # elif offset == -6:
    #     pst = pytz.timezone("US/Central")
    # elif offset == -7:
    #     pst = pytz.timezone("US/Mountain")
    # elif offset == -8:
    #     pst = pytz.timezone("US/Pacific")
    # elif offset == -9:
    #     pst = pytz.timezone("US/Alaska")
    # elif offset == -10:
    #     pst = pytz.timezone("US/Hawaii")

    dtObj = datetime.strptime(dtime, "%Y-%m-%d %H:%M:%S")
    if is_dst(dtObj):
        dtObj += timedelta(hours=int(offset_dst))
    else:
        dtObj += timedelta(hours=int(offset))
    # dtObj += timedelta(hours=int(offset))
    # dtcOffset = pst.localize(dtObj).dst()
    # dtObj += dtcOffset

    return dtObj.strftime("%Y-%m-%d %H:%M:%S")

In [220]:
dtime = "2021-03-15 10:00:00"
print(is_dst(datetime.strptime(dtime, "%Y-%m-%d %H:%M:%S")))
print(localize_date(dtime, -7, -6))

True
2021-03-15 04:00:00

In [ ]:
dtime = "2021-03-14 00:00:06"
offset = -8
curr_timezone = get_timezone(offset)
print(curr_timezone.localize(datetime.strptime(dtime, "%Y-%m-%d %H:%M:%S")).strftime("%Y-%m-%d %H:%M:%S"))
print(datetime.strptime(dtime, "%Y-%m-%d %H:%M:%S").astimezone(curr_timezone).strftime("%Y-%m-%d %H:%M:%S"))
localize_date(dtime, offset)

2021-03-14 11:00:06
2021-03-14 10:00:06

('2021-03-14 04:00:06', '2021-03-14 11:00:06')

In [190]:
# pst = pytz.timezone("UTC")
pst = pytz.timezone("US/Pacific")
pst.localize(datetime(2017, 10, 1)).dst()

datetime.timedelta(seconds=3600)

In [221]:
cal_latency = pd.read_csv("../202109/validated_data/curr_udplatency.csv")
latency = pd.read_csv("../validated-data-sept2021/curr_udplatency.csv")
raw_latency = pd.read_csv("../202109/curr_udplatency.csv")

In [222]:
cal_latency = cal_latency[(cal_latency["validation_type"] == "fcc") & (cal_latency["test_type"] == "off-net") & ~(cal_latency["target"].str.contains("level3\.net", na=False))]

In [223]:
cal_latency = cal_latency.drop(columns=["operator_name", "operator_technology", "test_type", "download_speed", "upload_speed", "validation_type"])
latency = latency.drop(columns=["ddate"])

In [224]:
latency["date"] = pd.to_datetime(latency["dtime"], format="%Y-%m-%d %H:%M:%S")
cal_latency["date"] = pd.to_datetime(cal_latency["dtime"], format="%Y-%m-%d %H:%M:%S")

latency.sort_values(by='date', ascending=True, inplace=True)
cal_latency.sort_values(by='date', ascending=True, inplace=True)

In [225]:
mask = ( ('2021-09-01' <= cal_latency['date']) & (cal_latency['date'] <= '2021-09-24') ) | ( (cal_latency['date'] >= '2021-09-28') & (cal_latency['date'] <= '2021-10-05') )
# latency = latency[latency["date"] < '2021-10-01']
cal_latency = cal_latency[mask]

In [226]:
print(cal_latency.shape, latency.shape)

(1981052, 10) (1974625, 10)

In [227]:
cal_unitids = cal_latency.unit_id.unique().tolist()
unitids = latency.unit_id.unique().tolist()
print(len(cal_unitids), len(unitids))
print(set(cal_unitids) - set(unitids))
print(set(unitids) - set(cal_unitids))

3449 3449
set()
set()

In [228]:
latency.head()

,unit_id,dtime,target,rtt_avg,rtt_min,rtt_max,rtt_std,successes,failures,date
119231,940694,2021-09-01 00:00:03,sp1-vm-dallas-us.samknows.com,19388,16451,27844,1724,1784,0,2021-09-01 00:00:03
105918,24806773,2021-09-01 00:00:04,sp1-vm-dallas-us.samknows.com,3982,2427,6345,882,2355,0,2021-09-01 00:00:04
1155227,3893569,2021-09-01 00:00:05,sp1-vm-denver-us.samknows.com,22548,20946,24248,599,2255,0,2021-09-01 00:00:05
1029508,3894153,2021-09-01 00:00:05,sp1-vm-miami-us.samknows.com,11373,10140,13559,792,2229,2,2021-09-01 00:00:05
1620418,1006272,2021-09-01 00:00:06,sp1-vm-seattle-us.samknows.com,20594,19918,23056,443,2125,0,2021-09-01 00:00:06

In [229]:
cal_latency.head()

,unit_id,dtime,target,rtt_avg,rtt_min,rtt_max,rtt_std,successes,failures,date
3083093,940694,2021-09-01 00:00:03,sp1-vm-dallas-us.samknows.com,19388,16451,27844,1724,1784,0,2021-09-01 00:00:03
3914438,24806773,2021-09-01 00:00:04,sp1-vm-dallas-us.samknows.com,3982,2427,6345,882,2355,0,2021-09-01 00:00:04
3646159,3894153,2021-09-01 00:00:05,sp1-vm-miami-us.samknows.com,11373,10140,13559,792,2229,2,2021-09-01 00:00:05
3639303,3893569,2021-09-01 00:00:05,sp1-vm-denver-us.samknows.com,22548,20946,24248,599,2255,0,2021-09-01 00:00:05
3391143,1006272,2021-09-01 00:00:06,sp1-vm-seattle-us.samknows.com,20594,19918,23056,443,2125,0,2021-09-01 00:00:06

In [230]:
common = cal_latency.merge(latency.drop_duplicates(),indicator = True, how='left').loc[lambda x : x['_merge']=='both']
common.shape

(1974625, 11)

In [231]:
only_in_cal_latency = cal_latency.merge(latency.drop_duplicates(),indicator = True, how='left').loc[lambda x : x['_merge']!='both']
only_in_cal_latency.shape

(6427, 11)

In [232]:
only_in_fcc_latency = latency.merge(cal_latency.drop_duplicates(),indicator = True, how='left').loc[lambda x : x['_merge']!='both']
only_in_fcc_latency.shape

(0, 11)

In [233]:
only_in_cal_latency.head()

,unit_id,dtime,target,rtt_avg,rtt_min,rtt_max,rtt_std,successes,failures,date,_merge
46,55519265,2021-09-01 00:01:04,sp2-vm-ashburn-us.samknows.com,9530,7211,12270,1304,122,0,2021-09-01 00:01:04,left_only
88,38713353,2021-09-01 00:01:54,sp1-vm-sanjose-us.samknows.com,15498,10274,233593,12946,2189,2,2021-09-01 00:01:54,left_only
91,55518873,2021-09-01 00:01:55,sp2-vm-ashburn-us.samknows.com,13449,11356,20404,1212,2297,0,2021-09-01 00:01:55,left_only
246,661060,2021-09-01 00:05:30,sp1-vm-ashburn-us.samknows.com,8507,3394,13850,2843,2231,0,2021-09-01 00:05:30,left_only
509,55492141,2021-09-01 00:11:03,sp1-vm-newyork-us.samknows.com,12881,8344,19387,2881,2052,0,2021-09-01 00:11:03,left_only

In [245]:
ids = only_in_cal_latency.unit_id.unique().tolist()
len(ids)

105

In [249]:
only_in_cal_latency['date'] = only_in_cal_latency['date'].dt.date

In [252]:
only_in_cal_latency.drop(columns=["dtime", "target", "rtt_avg", "rtt_min", "rtt_max", "rtt_std", "successes", "failures", "_merge"], inplace=True)

In [255]:
only_in_cal_latency.drop_duplicates(ignore_index=True, inplace=True)

In [262]:
unit_date_included = pd.read_csv("../sql-cleanup-scripts-sept2021/unit_days_to_include.csv")
unit_date_included.rename(columns={"ddate": "date"}, inplace=True)

In [269]:
print(only_in_cal_latency.shape)

(398, 2)

In [265]:
only_in_cal_latency.merge(unit_date_included.drop_duplicates(),indicator = True, how='left').loc[lambda x : x['_merge']=='both']

Empty DataFrame
Columns: [unit_id, date, _merge]
Index: []

In [267]:
only_in_cal_latency.merge(unit_date_included.drop_duplicates(),indicator = True, how='left').loc[lambda x : x['_merge']=='left_only'].shape

(398, 3)

In [243]:
only_in_cal_latency[only_in_cal_latency["unit_id"] == 38713353]

,unit_id,dtime,target,rtt_avg,rtt_min,rtt_max,rtt_std,successes,failures,date,_merge
88,38713353,2021-09-01 00:01:54,sp1-vm-sanjose-us.samknows.com,15498,10274,233593,12946,2189,2,2021-09-01 00:01:54,left_only
2792,38713353,2021-09-01 01:01:54,sp1-vm-sanjose-us.samknows.com,14042,10235,26531,3206,1322,0,2021-09-01 01:01:54,left_only
5512,38713353,2021-09-01 02:01:55,sp1-vm-sanjose-us.samknows.com,14168,10309,28268,3269,2105,0,2021-09-01 02:01:55,left_only
8242,38713353,2021-09-01 03:01:53,sp1-vm-sanjose-us.samknows.com,14275,10302,33966,3285,2167,0,2021-09-01 03:01:53,left_only
10993,38713353,2021-09-01 04:01:54,sp1-vm-sanjose-us.samknows.com,14787,10319,182361,7350,2084,5,2021-09-01 04:01:54,left_only
...,...,...,...,...,...,...,...,...,...,...,...
370857,38713353,2021-09-06 18:00:20,sp2-vm-newyork-us.samknows.com,76986,72075,128016,5858,2136,12,2021-09-06 18:00:20,left_only
439341,38713353,2021-09-07 19:02:13,sp1-vm-seattle-us.samknows.com,29793,24842,60060,5020,2319,12,2021-09-07 19:02:13,left_only
442061,38713353,2021-09-07 20:02:13,sp1-vm-seattle-us.samknows.com,29664,24745,133557,7187,2090,19,2021-09-07 20:02:13,left_only
444977,38713353,2021-09-07 21:02:13,sp1-vm-seattle-us.samknows.com,32160,24701,270552,19745,2149,10,2021-09-07 21:02:13,left_only
450160,38713353,2021-09-07 23:02:12,sp1-vm-seattle-us.samknows.com,94369,24775,247189,70436,2302,20,2021-09-07 23:02:12,left_only

In [241]:
latency[latency["unit_id"] == 38713353]

,unit_id,dtime,target,rtt_avg,rtt_min,rtt_max,rtt_std,successes,failures,date
1570041,38713353,2021-09-08 00:02:12,sp1-vm-seattle-us.samknows.com,66528,24855,206116,51794,2065,13,2021-09-08 00:02:12
1570040,38713353,2021-09-08 01:02:13,sp1-vm-seattle-us.samknows.com,36982,24826,162838,22480,2242,11,2021-09-08 01:02:13
583944,38713353,2021-09-08 02:02:13,sp1-vm-seattle-us.samknows.com,28268,24642,39417,3026,2301,11,2021-09-08 02:02:13
583943,38713353,2021-09-08 03:02:13,sp1-vm-seattle-us.samknows.com,28692,24638,40489,3059,2344,12,2021-09-08 03:02:13
1570039,38713353,2021-09-08 04:02:13,sp1-vm-seattle-us.samknows.com,29215,24714,50191,3066,2289,23,2021-09-08 04:02:13
...,...,...,...,...,...,...,...,...,...,...
1539399,38713353,2021-09-30 14:44:18,sp1-vm-sanjose-us.samknows.com,11429,10171,19958,1607,2120,0,2021-09-30 14:44:18
1539356,38713353,2021-09-30 15:44:18,sp1-vm-sanjose-us.samknows.com,11466,10038,19984,1538,2277,0,2021-09-30 15:44:18
553289,38713353,2021-09-30 16:44:18,sp1-vm-sanjose-us.samknows.com,11499,10132,20291,1688,2227,0,2021-09-30 16:44:18
553295,38713353,2021-09-30 17:44:18,sp1-vm-sanjose-us.samknows.com,11430,10242,20227,1436,1997,0,2021-09-30 17:44:18
553253,38713353,2021-09-30 17:59:31,sp1-vm-sanjose-us.samknows.com,11462,10180,19774,1307,488,0,2021-09-30 17:59:31

In [242]:
cal_latency[cal_latency["unit_id"] == 38713353]

,unit_id,dtime,target,rtt_avg,rtt_min,rtt_max,rtt_std,successes,failures,date
4490486,38713353,2021-09-01 00:01:54,sp1-vm-sanjose-us.samknows.com,15498,10274,233593,12946,2189,2,2021-09-01 00:01:54
4490487,38713353,2021-09-01 01:01:54,sp1-vm-sanjose-us.samknows.com,14042,10235,26531,3206,1322,0,2021-09-01 01:01:54
4490488,38713353,2021-09-01 02:01:55,sp1-vm-sanjose-us.samknows.com,14168,10309,28268,3269,2105,0,2021-09-01 02:01:55
4490489,38713353,2021-09-01 03:01:53,sp1-vm-sanjose-us.samknows.com,14275,10302,33966,3285,2167,0,2021-09-01 03:01:53
4490490,38713353,2021-09-01 04:01:54,sp1-vm-sanjose-us.samknows.com,14787,10319,182361,7350,2084,5,2021-09-01 04:01:54
...,...,...,...,...,...,...,...,...,...,...
4490766,38713353,2021-09-30 14:44:18,sp1-vm-sanjose-us.samknows.com,11429,10171,19958,1607,2120,0,2021-09-30 14:44:18
4490767,38713353,2021-09-30 15:44:18,sp1-vm-sanjose-us.samknows.com,11466,10038,19984,1538,2277,0,2021-09-30 15:44:18
4490768,38713353,2021-09-30 16:44:18,sp1-vm-sanjose-us.samknows.com,11499,10132,20291,1688,2227,0,2021-09-30 16:44:18
10115773,38713353,2021-09-30 17:44:18,sp1-vm-sanjose-us.samknows.com,11430,10242,20227,1436,1997,0,2021-09-30 17:44:18
10115774,38713353,2021-09-30 17:59:31,sp1-vm-sanjose-us.samknows.com,11462,10180,19774,1307,488,0,2021-09-30 17:59:31

In [65]:
latency[(latency["unit_id"] == 25619157) & (latency["dtime"] == "2021-09-01 00:00:50")]

Empty DataFrame
Columns: [unit_id, dtime, target, rtt_avg, rtt_min, rtt_max, rtt_std, successes, failures, date]
Index: []

In [66]:
cal_latency[(cal_latency["unit_id"] == 25619157) & (cal_latency["dtime"] == "2021-09-01 00:00:50")]

,unit_id,dtime,target,rtt_avg,rtt_min,rtt_max,rtt_std,successes,failures,date
4029801,25314433,2021-09-30 23:59:53,sp1-vm-losangeles-us.samknows.com,13497,8534,26881,3494,2290,59,2021-09-30 23:59:53

In [184]:
raw_latency[(raw_latency["unit_id"] == 25619157) & (raw_latency["dtime"] == "2021-09-01 07:00:06")]

,unit_id,dtime,target,rtt_avg,rtt_min,rtt_max,rtt_std,successes,failures
2398201,1006272,2021-09-01 07:00:06,1-lasvegasnv-on.centurylink.net,43692,43160,44215,198,2125,0
2398202,1006272,2021-09-01 07:00:06,sp1-vm-seattle-us.samknows.com,20594,19918,23056,443,2125,0

In [63]:
raw_latency[raw_latency["unit_id"] == 3894121].target.unique().tolist()

['samk01.asbn.va.frontiernet.net',
 'sp1-vm-ashburn-us.samknows.com',
 'sp2-vm-ashburn-us.samknows.com',
 'samknows1.chi2.level3.net']

In [12]:
cal_latency['unit_time_comb'] = cal_latency['unit_id'].astype(str) + " " + cal_latency['dtime'] + " " + cal_latency['target']
latency['unit_time_comb'] = latency['unit_id'].astype(str) + " " + latency['dtime'] + " " + latency['target']
raw_latency['unit_time_comb'] = raw_latency['unit_id'].astype(str) + " " + raw_latency['dtime'] + " " + raw_latency['target']

In [13]:
cal_units = cal_latency.unit_time_comb.unique().tolist()
units = latency.unit_time_comb.unique().tolist()

In [12]:
cal_latency.head()

,unit_id,dtime,target,rtt_avg,rtt_min,rtt_max,rtt_std,successes,failures
2202632,422,2021-09-01 00:08:44,sp1-vm-seattle-us.samknows.com,9631,3604,18370,1875,2325,0
2202633,422,2021-09-01 01:08:42,sp1-vm-seattle-us.samknows.com,9771,4561,19656,2024,1859,0
2202634,422,2021-09-01 02:08:40,sp1-vm-seattle-us.samknows.com,9626,3706,18579,1725,2213,0
2202635,422,2021-09-01 03:08:38,sp1-vm-seattle-us.samknows.com,9731,4673,21733,1946,1995,0
2202636,422,2021-09-01 04:08:36,sp1-vm-seattle-us.samknows.com,10037,4962,21070,2180,2309,0

In [15]:
print(len(cal_units), len(units))
print(cal_latency.shape, latency.shape)

1974041 1968508
(1980149, 16) (1974625, 11)

In [34]:
print(2198024 - 2191871, 1974625 - 1968508)

6153 6117

In [55]:
diff = set(cal_units) - set(units)
len(diff)

1466885

In [56]:
diff2 = set(units) - set(cal_units)
len(diff)

1466885

In [57]:
list(diff)[:5]

['799468 2021-09-24 04:28:33 sp1-vm-denver-us.samknows.com',
 '27337 2021-09-22 14:09:23 sp2-vm-chicago-us.samknows.com',
 '54730345 2021-09-21 06:53:24 sp2-vm-chicago-us.samknows.com',
 '41088989 2021-09-07 09:55:33 samknows1.sjo3.level3.net',
 '37383701 2021-09-24 17:08:44 sp2-vm-chicago-us.samknows.com']

In [21]:
cal_latency.head()

,unit_id,dtime,target,rtt_avg,rtt_min,rtt_max,rtt_std,successes,failures,operator_name,operator_technology,test_type,download_speed,upload_speed,validation_type,unit_time_comb
1919690,422,2021-09-06 01:08:43,samknows1.sjo3.level3.net,26194,22933,34098,1473,1264,2,Comcast,Cable,off-net,100.0,5.0,fcc,422 2021-09-06 01:08:43
1919691,422,2021-09-06 02:08:41,samknows1.sjo3.level3.net,26462,22405,35143,1558,2055,7,Comcast,Cable,off-net,100.0,5.0,fcc,422 2021-09-06 02:08:41
1919692,422,2021-09-06 03:08:40,samknows1.sjo3.level3.net,26601,20719,37129,1874,2224,5,Comcast,Cable,off-net,100.0,5.0,fcc,422 2021-09-06 03:08:40
1919693,422,2021-09-06 04:08:38,samknows1.sjo3.level3.net,26557,21550,36322,1739,2130,0,Comcast,Cable,off-net,100.0,5.0,fcc,422 2021-09-06 04:08:38
1919694,422,2021-09-06 05:08:37,samknows1.sjo3.level3.net,26526,22530,35826,1915,1621,0,Comcast,Cable,off-net,100.0,5.0,fcc,422 2021-09-06 05:08:37

In [67]:
cal_latency[~cal_latency["target"].str.contains("level3\.net", na=False)].shape

(1980149, 16)

In [66]:
224000 - 217875

6125